  <div class="toggle">
    <div class="tooltip1" style="color:black;width:8em;font-weight:bold;font-family:Verdana;font-size:1em;left:-6em;position:absolute;"><a ng-click="closeSession()">Cerrar sesi&oacute;n</a></div>
  </div>
  <div class="form" >
    <center><h2 style="font-family:Verdana;">INMUEBLES</h2></center>
    <br />
    <form>            
      <center>        
        <button class="volver" style="width:15em;" ng-click="showInmueblesIndex()">Consultar Inmuebles</button><br /><br />
        <button class="cotizaciones" style="width:15em;" ng-click="showCrearInmueblesIndex()">Crear Inmueble</button><br /><br /><br /><br />
        <button style="width:15em;" class="volver" ng-click="returnMenuIndex()">Volver</button>
        <!--br /><br />
        <button class="cotizaciones" style="width:15em;" ng-click="showInmueblesIndex()">Inmuebles</button-->        
      </center>
    </form>
  </div>  
  <div class="cta">SONIA<br />Sistema Organizador de Negocios Inmobiliarios Asistidos<br />
  <a href="mailto:lequiroga@gmail.com" target="_top">lequiroga@gmail.com</a>
  </div>
 