body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 0px 0;
  text-align: center;

}
.pen-title h1 {
  padding: 20px 0;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  margin: 10 0 0px;
  font-size: 26px;
  font-weight: bold;
  color: #00008B;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 70em;
  /*width: 100%;*/
  border-top: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module1 {
  position: relative;
  background: #ffffff;
  max-width: 70em;
  /*width: 100%;*/
  border-top: 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  /*cursor: pointer;*/
  position: absolute;
  top: -0;
  right: -0;
  /*background: #33b5e5;*/
  width: 30px;
  height: 30px;
  /*margin: -5px 0 0; */
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form1 {  
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  outline: none;
  display: block;
  width: 70%;
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
  color: #00008B;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.form-module h3 {
  outline: none;
  display: block;
  width: 70%;
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
  color: #00008B;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.form-module input,select {

  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  margin-left: auto;
    margin-right: auto;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module textarea {

  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  margin-left: auto;
    margin-right: auto;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module label {
  outline: none;
  display: block;
  width: 70%;
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {

  cursor: pointer;
  /*background: #00008B;*/
  width: 15%;
  border: 0;
  padding: 10px 15px;
  margin-right: 3px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module submit {

  cursor: pointer;
  /*background: #00008B;*/
  width: 15%;
  border: 0;
  padding: 10px 15px;
  margin-right: 3px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.cotizaciones,.consultar {background-color: #00008B;}
.cotizaciones:hover{
  background: #2471A3;
}
.consultar:hover{
  background: #2471A3;   
}

.clientes,.crear_cotizacion,.crear_cliente,.crear_producto {background-color: #4CAF50}
.clientes:hover {
  background: #32CD32;
}
.crear_cotizacion:hover {
  background: #32CD32;
}
.crear_cliente:hover {
  background: #32CD32;
}
.crear_producto:hover {
  background: #32CD32;
}

.limpiar {background-color:#f44336}
.limpiar:hover {
  background: #DC143C;
}

.volver,.productos {background-color:#555555}
.volver:hover {
  background: #808080;
}
.productos:hover {
  background: #808080;
}

.product {background-color: #BA55D3;}
.product:hover {
  background: #9370DB;
}

.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

#customers
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  /*width:100%;*/
  /*border-collapse:collapse; */
}

#customers td
{
  font-size:12px;
  border:1px solid #00008B;
  padding:3px 7px 3px 7px;
}

#customers th
{
  font-size:14px;
  text-align:center;
  border:1px solid #00008B;
  padding:3px 7px 3px 7px;
  background-color:#00008B;
  color:#fff;
}

#customers tr:hover td
{
  color:#000;
  background-color:#C0C0C0;
}

#customers tr.alt:hover td
{
  color:#000;
  background-color:#C0C0C0;
}

#customers tr.alt td
{
  color:#000;
  background-color:#FFF;
}

table {
   background-color: #FFF;
   color: #333;
   font-family: sans-serif;
   font-size: .9em;
   font-weight: 300;
   text-align: left;
   line-height: 2em;   
   border-spacing: 0;
   border: 1px solid #428bca;
   margin: 20px auto;
   cursor: pointer;
}
thead tr:first-child {
   background: #00008B;
   color: #fff;
   border: none;
}
th {
   font-weight: bold;
   padding-left: 10px;
   padding-right: 10px;
}
th:first-child,
td:first-child {
   padding: 0 15px 0 20px;
}
thead tr:last-child th {
   border-bottom: 2px solid #ddd;
}
tbody tr:hover {
   background-color: #f0fbff;
}
tbody tr:last-child td {
   border: none;
}
tbody td {
   border-bottom: 1px solid #ddd;
}
td:last-child {
   text-align: right;
   padding-right: 10px;
}

.butt {
   position: relative;
   vertical-align: top;
   height: 3em;
   font-size: 14px;
   color: white;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   background: #00008B;
   border: 0;
   border-bottom: 0em solid #2a8bcc;
   cursor: pointer;
   -webkit-box-shadow: inset 0 -2px #2a8bcc;
   box-shadow: inset 0 -2px #2a8bcc;
}
.butt:active {
   
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}
.butt:disabled {
   outline: none;   
   -webkit-box-shadow: none;
   box-shadow: none;
   opacity: 0.5;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Tooltip container */
.tooltip {
  position: relative;  
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*.enviar { margin:3px 0 0 83px; }*/


/*.custom-radio, .custom-checkbox {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} */

/*
 * Dejar espacio a la 'label' para posicionar el checkbox hecho con pseudoelementos
 */
/*.custom-radio + label, .custom-checkbox + label {
  position: relative;
  padding-left: 16px;
}  */
/*
 * El pseudoelemento que emulará el input
 */
/*.custom-radio + label:before, .custom-checkbox + label:before {
    content: "";
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 13px;
    height: 13px;
    line-height: 11px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6.5px;
    background: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff, #dddddd);
    background-image: -moz-linear-gradient(#ffffff, #dddddd);
    background-image: -o-linear-gradient(#ffffff, #dddddd);
    background-image: linear-gradient(#ffffff, #dddddd);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #aaa;
}*/
/*
 * Fondo para cuando se pasa el ratón por encima
 */
/*.custom-radio + label:hover:before, .custom-checkbox + label:hover:before {
    background: #fafafa;
}*/

/*
 * Fondo para cuando se está haciendo click
 * Con filtros para ie9
 */
/*.custom-radio + label:active:before, .custom-checkbox + label:active:before {
    background: #f2f2f2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#dddddd, #ffffff);
    background-image: -moz-linear-gradient(#dddddd, #ffffff);
    background-image: -o-linear-gradient(#dddddd, #ffffff);
    background-image: linear-gradient(#dddddd, #ffffff);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff')";
}*/

/*
 * Redondear el botón "radio"
 * Sobreescribimos el border-radius: 3px general
 */
/*.custom-radio + label:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
} */
/*
 * Mostrar un punto cuando está seleccionado el "radio"
 * Usamos box-shadow para simular un fondo gris, mientras que dejamos un pequeño
 * espacio para el punto negro (#444), que es el fondo
 */
/*.custom-radio:checked + label:before {
    background: #444;
    -webkit-box-shadow: 0 0 0 3px #eeeeee inset;
    -moz-box-shadow: 0 0 0 3px #eeeeee inset;
    box-shadow: 0 0 0 3px #eeeeee inset;
}   */

/*
 * Estilos focus para la gente que navega con el teclado, etc
 */
/*.custom-radio:focus + label:before,
.custom-checkbox:focus + label:before {
    outline: 1px dotted;
}     */

/* Mostrar la "X" cuando está chequeada (sólo el checkbox).
 * Podríamos usar una fuente de iconos para mostrar un tic
 */
/*.custom-checkbox:checked + label:before {
    content: "X";
}     */



/* Styles go here */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.5;
}
.ng-modal-overlay2 {
  /* A green translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:green;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 25%;
  left: 25%;
  /*transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);*/

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  font-family:'Roboto';
  font-size:14pt;
  color: black;
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/*-----------------------------------------------------------------
    ANIMATIONS
-------------------------------------------------------------------*/
.ng-modal-dialog.ng-hide-add, .ng-modal-dialog.ng-hide-remove {
  display:block!important;
}
.ng-modal-dialog.ng-hide-remove {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}

.ng-modal-dialog.ng-hide-add {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}

.ng-modal-dialog.ng-enter {
    -webkit-animation: rollIn 1s;
    -moz-animation: rollIn 1s;
    -ms-animation: rollIn 1s;
    animation: rollIn 1s;
}

.ng-modal-dialog.ng-leave {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}


.modal {
  display: block;
  position: fixed;
  top: 50px; left: 50px; bottom: 50px; right: 50px;
  background: white;
  z-index: 100;
}
.overlay {
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
}

input,select {

  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  margin-left: auto;
    margin-right: auto;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

h2 {
  outline: none;
  display: block;
  width: 70%;
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
  color: #00008B;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

label {
  outline: none;
  display: block;
  width: 70%;
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
}

button {

  cursor: pointer;
  /*background: #00008B;*/
  width: 15%;
  border: 0;
  padding: 10px 15px;
  margin-right: 3px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}

textarea {

  outline: none;
  display: block;
  width: 70%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  margin-left: auto;
    margin-right: auto;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}